# Iris Flower classification:

# Importing Modules:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Text Preprocessing:

In [1]:
#Flower name has string format. So convert it into int format:

from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()

In [5]:
df['flower_name'] = le_gender.fit_transform(df['species'])
df

,sepal_length,sepal_width,petal_length,petal_width,species,flower_name
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [7]:
##0 for Iris-setosa 1 for Iris-Versicolor and 2 for Iris-virginica

df.drop(['species'],axis = 'columns',inplace = True)
df

     sepal_length  sepal_width  petal_length  petal_width  flower_name
0             5.1          3.5           1.4          0.2            0
1             4.9          3.0           1.4          0.2            0
2             4.7          3.2           1.3          0.2            0
3             4.6          3.1           1.5          0.2            0
4             5.0          3.6           1.4          0.2            0
..            ...          ...           ...          ...          ...
145           6.7          3.0           5.2          2.3            2
146           6.3          2.5           5.0          1.9            2
147           6.5          3.0           5.2          2.0            2
148           6.2          3.4           5.4          2.3            2
149           5.9          3.0           5.1          1.8            2

[150 rows x 5 columns]

In [8]:
#Making a seperate coulmn.

y=df.drop(['sepal_length','sepal_width','petal_length','petal_width'],axis = 'columns')

In [9]:
df.drop(['flower_name'],axis = 'columns',inplace = True)
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# Model Building:

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2)

def functionmodel(model):
    model.fit(x_train,y_train)
    print("Accuracy: ",model.score(x_test,y_test))

In [11]:
len(x_train)

120

In [12]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
functionmodel(model)

Accuracy:  0.9026181216933519

In [14]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
functionmodel(model)

Accuracy:  0.9333333333333333

C:\Users\abhil\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
functionmodel(model)

Accuracy:  0.9

C:\Users\abhil\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)